.card-blueprint {
  box-shadow: -11.31px 11.31px 25px 0px rgba(138, 131, 124, 0.23);
  margin: 30px 0;
}

.resume-year-container {
  background-color: #23a6d5;
  color: white;
  height: 350px;
  width: 100%;
  padding: 70px;
  font-size: 14px;
}

.resume-description-container {
  background-color: white;
  height: 350px;
  width: 100%;
  padding: 75px;
  font-size: 14px;
}

.resume-year {
  font-weight: 900;
  font-size: 20px;
}

.resume-position {
  font-weight: 600;
  font-size: 16px;
}

.resume-instName {
  font-size: 14px;
}

@media only screen and (max-width: 767px) {
}

@media only screen and (max-width: 991px) {
  .resume-year-container {
    padding: 20px;
    height: 140px;
  }

  .resume-description-container {
    height: 200px;
    padding: 20px;
  }
}

@media only screen and (max-width: 430px) {
  .resume-year-container {
    padding: 20px;
    height: 150px;
  }

  .resume-description-container {
    height: 300px;
    padding: 20px;
  }
}
