.background-my-projects {
  background-color: white;
  padding: 50px 0px;
}

.project-title {
  margin: 50px auto;
  text-align: center;
  color: #23a6d5;
}

@media only screen and (max-width: 767px) {
  .background-my-projects {
    padding: 10px 20px;
  }
}
