.background-my-projects {
  background-color: #f9f1f0;
  padding: 100px 0;
}

.project-title {
  margin: 50px auto;
  text-align: center;
}

@media only screen and (max-width: 767px) {
  .background-my-projects {
    padding: 10px 0;
  }
}
