.project-card-blueprint {
  box-shadow: -11.31px 11.31px 25px 0px rgba(138, 131, 124, 0.23);
  margin: 30px 0;
}

.project-name-description {
  background-color: white;
  height: 350px;
  width: 100%;
  padding: 0;
}

.projects-title {
  text-align: center;
  margin: 40px 0;
  font-size: 17px;
  font-weight: 700;
}

.link-container {
  text-align: center;
  width: 100%;
  bottom: 40px;
}

.project-link {
  margin: auto;
}
.project-description {
  font-size: 14px;
  padding: 0 10px;
  text-align: center;
}

.project-image {
  background-size: cover;
  background-position: center;
  height: 350px;
  width: 100%;
  padding: 0;
}

.button-project.button-project {
  background-color: #23a6d5;
  border-color: #23a6d5;
  padding: 0.5rem 3rem;
}
