.background-my-resume {
  padding: 50px 0px;
}

.resume-title {
  margin-top: 50px;
  text-align: center;
  color: #55575b;
}

@media only screen and (max-width: 767px) {
  .background-my-resume {
    padding: 10px 20px;
  }
}
