.experience-card-blueprint {
  box-shadow: -11.31px 11.31px 25px 0px rgba(138, 131, 124, 0.23);
  margin: 30px 0;
}

.experience-name-description {
  background-color: white;
  height: 300px;
  width: 100%;
  padding: 0;
}

@media only screen and (max-width: 767px) {
  .experience-name-description {
    margin: 0 20px;
  }
}
