.background-aboutme-card {
  background: linear-gradient(-45deg, #b5d4cb, #7ba6ce, #ed107f41, #eea619);
  background-size: 400% 400%;
  position: relative;
  animation: change 10s ease-in-out infinite;
}

@keyframes change {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

.card-general-content {
  border-radius: 0.25rem 0.25rem 0 0;
  float: right;
  margin-right: -15%;
  margin-top: 15%;
  margin-bottom: 15%;
  width: 400px;
  background-color: #efedea;
  padding: 0;
  box-shadow: -11.31px 11.31px 25px 0px rgba(138, 131, 124, 0.23);
}

.my-image {
  margin-top: 40px;
  margin-bottom: 30px;
  text-align: center;
}

.my-name {
  margin-top: 30px;
  margin-bottom: 40px;
  font-size: 1.5rem;
  text-align: center;
  color: black;
  font-weight: 700;
}

.break-point {
  width: 50%;
  height: 5px;
  margin-left: auto;
  margin-right: auto;
  background-color: black;
}

.my-title {
  margin-top: 30px;
  margin-bottom: 40px;
  font-size: 1.1rem;
  font-weight: 300;
  text-align: center;
  color: black;
}

div .card-footer {
  width: 100%;
  background-color: white;
  text-align: center;
}

@media only screen and (max-width: 767px) {
  .card-general-content {
    width: 320px;
    float: none;
    margin-left: auto;
    margin-right: auto;
  }

  .my-name {
    font-size: 1.3rem;
  }
}

@media only screen and (max-width: 359px) {
  .card-general-content {
    width: 260px;
    float: none;
    margin-left: auto;
    margin-right: auto;
  }

  .my-name {
    font-size: 1.3rem;
  }
}
