.footer-webpage {
  padding: 20px;
  background-color: white;
}

.footer-info {
  margin-bottom: 0px;
}

.footer-info,
.footer-email,
.footer-title {
  font-size: 13px;
  text-align: center;
  margin-bottom: 5px;
}

.footer-title {
  font-weight: 800;
}

.social-media-container {
  text-align: center;
}

.vertical-center {
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 30%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

@media only screen and (max-width: 993px) {
  .footer-info {
    text-align: left;
  }

  .contact-me-footer,
  .write-footer,
  .follow-footer,
  .info-footer {
    margin-bottom: 20px;
  }
}

@media only screen and (max-width: 769px) {
  .footer-title,
  .footer-info,
  .footer-email {
    text-align: left;
    margin-bottom: 10px;
  }

  .horizontal-center {
    display: flex;
    align-items: flex-start;
    margin-left: -10px;
  }

  .vertical-center {
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 5%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
}
