.project-content {
  margin-top: 10px;
  margin-bottom: 70px;
  text-align: center;
}

@media only screen and (max-width: 767px) {
  .project-content {
    margin-top: 20px;
    margin-bottom: 50px;
    margin-left: 50px;
    margin-right: 50px;
  }
}

@media only screen and (max-width: 430px) {
  .project-content {
    font-size: 13px;
  }
}
